useDynLib(DeCAFS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "boxplot.stats")
importFrom("stats", "coefficients", "lm", "rnorm", "rpois", "runif", "mad", "optim")
importFrom("graphics", "lines", "plot", "abline", "mtext", "par")
import("ggplot2")
importFrom("robustbase", "Sn", "Qn")
S3method(plot, DeCAFSout)
export(DeCAFS)
export(dataRWAR)
export(estimateParameters)