useDynLib(DeCAFS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "boxplot.stats")
importFrom("stats", "coefficients", "lm", "rnorm", "rpois", "mad", "optim")
import("ggplot2")
export(DeCAFS)
export(dataRWAR)
export(estimateParameters)
