useDynLib(l2FPOP, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "boxplot.stats")
importFrom("stats", "coefficients", "lm", "rnorm", "rpois")
import("ggplot2")
export(l2fpop)
export(dataRWAR)
export(estimateParameters)
